<?xml version="1.0" encoding="UTF-8"?>
<!-- this is stub and very basic web-config, which does not contains anything valueable,
will be rewrited with qorpent.sys web.config or another file -->
<configuration>
	<system.web>
		<trust level="Full" />
		<customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"     />
    <pages validateRequest="false"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="2147483647" maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
    <validation validateIntegratedModeConfiguration="false"/>      
	</system.webServer>
 
</configuration>